<h1> {{ usersShow.currentAccumulator.name }}</h1>

<section class="profile-accy-nav">
  {{ main.newAccumulator.name }}
  <form ng-submit="usersShow.createAccumulator()" novalidate>
    <input type="text" value="My Accumulator" ng-model="usersShow.newAccumulator.name">
    <button>Create New Accumulator</button>
  </form>
  <ul>
    <li ng-repeat="accy in usersShow.user.accumulators" ng-click="usersShow.chooseAccumulator(accy.id, accy.name)">
      <a ng-click="usersShow.displayTrackedEvents(accy.id)">
      Accumulator {{ $index + 1 }} <br>
      {{ accy.name }} {{ accy.marketId }}</a>
      <button class="button" ng-click="usersShow.delete(accy)">Delete</button>
    </li>
  </ul>
</section>

<button ui-sref="profile.events">Add Event</button>


<!-- loads in events index.html and show.html -->
<div ui-view></div>
