<h1 class="user-profile"> {{ usersShow.currentAccumulator.name || 'Choose an accumulator' }}</h1>

<ul ng-repeat="event in usersShow.currentAccumulator.events">
  <li>{{ event.eventName }} - {{ event.marketName }} - {{ event.runnerName }}</li>
</ul>

<section class="profile-accy-nav">
  {{ usersShow.newAccumulator.name }}
  <form name="usersShow.accyForm" ng-submit="usersShow.createAccumulator()" novalidate>
    <input type="text" value="My Accumulator" ng-model="usersShow.newAccumulator.name" required>
    <button>Create New Accumulator</button>
  </form>
  <ul>
    <li ng-repeat="accy in usersShow.user.accumulators" ng-click="usersShow.chooseAccumulator(accy)">
      <a ng-click="usersShow.displayTrackedEvents(accy.id)">
      {{ accy.name }} <br>
      Events: {{ accy.events.length }} <br></a>
      <button class="button" ng-click="usersShow.delete(accy)">Delete</button>
    </li>
  </ul>
</section>

<button ng-click="usersShow.eventButton = false" ng-if="usersShow.eventButton">Add Event</button>

<p>The new event: {{ usersShow.newEvent.eventName }} - {{ usersShow.newEvent.marketName }}</p>
<section class="profile-input-selectboxes" ng-if="!usersShow.eventButton">

  <label for="caption">Choose your category</label>
  <select name="EVENT TYPE" ng-model="usersShow.eventType">
    <option value="Soccer">Soccer</option>
    <option value="Tennis">Tennis</option>
    <option value="Golf">Golf</option>
    <option value="Cricket">Cricket</option>
    <option value="Rugby">Rugby</option>
    <option value="Boxing">Boxing</option>
    <option value="Horse">Horse</option>
    <option value="Motor">Motor</option>
    <option value="Special">Special</option>
  </select>

  <button class="profile-search-event" type="button" name="button" ui-sref="profile.events({ eventType: usersShow.eventType })">SEARCH</button>
</section>

<!-- loads in events index.html and show.html -->
<div ui-view></div>
