<!-- Shows Accumulators available -->
<h1 class="user-profile"> {{ usersShow.currentAccumulator.name || 'Choose an accumulator' }}</h1>

<!-- this is the accy side div -->
<section class="profile-accy-nav">

  <div ng-messages="usersShow.accyForm.name.$error" role="alert" ng-show="usersShow.accyForm.$submitted && usersShow.accyForm.name.$invalid" class="error">

    <div ng-message="required">A name is required.</div>
  </div>
  <form name="usersShow.newAccyForm" ng-submit="usersShow.createAccumulator()" novalidate>
    <input type="text" value="My Accumulator" name="name" ng-model="usersShow.newAccumulator.name" required>
    <button>Create New Accumulator</button>
  </form>
  <button class="button" ng-click="usersShow.editToggle()">Edit</button>
  <ul>
    <li ng-repeat="accy in usersShow.user.accumulators" ng-click="usersShow.chooseAccumulator(accy)">
      <a>
        {{ accy.name }}<br>
        Events: {{ accy.events.length }}<br>
      </a>
      <div ng-hide="usersShow.editToggleBoolean">
        <form ng-submit="usersShow.rename()">
          <input type="text" ng-model="usersShow.currentAccumulator.name">
          <button>Rename</button>
        </form>

        <button class="button" ng-click="usersShow.delete(accy)">Delete</button>
      </div>
    </li>
  </ul>
</section>
<section class="profile-graphs">


  <div class="user-animation">
    <canvas id="line" class="chart chart-line" chart-data="usersShow.data" chart-labels="usersShow.labels" chart-series="usersShow.runnerName" chart-options="usersShow.options" chart-colors="usersShow.colors" chart-dataset-override="usersShow.override">
    </canvas>
  </div>

</section>

<h3>List of Events in Accumulators</h3>
<ul ng-repeat="event in usersShow.currentAccumulator.events">
  <li>{{ event.eventType }} - {{ event.eventName }} - {{ event.marketName }} - {{ event.runnerName }} - latest trade price: {{ usersShow.runnerPrices[$index] }}<button ng-click="usersShow.deleteEvent(event)">Delete</button></li>
</ul><br>

<button ng-click="usersShow.eventButton = false" ng-if="usersShow.eventButton">Add Event</button>

<section class="profile-input-selectboxes" ng-if="!usersShow.eventButton">

  <select name="EVENT TYPE" ng-model="usersShow.eventType">
    <option value="" disabled selected>Select your option</option>
    <option value="Soccer">Soccer</option>
    <option value="Tennis">Tennis</option>
    <option value="Golf">Golf</option>
    <option value="Cricket">Cricket</option>
    <option value="Rugby">Rugby</option>
    <option value="Boxing">Boxing</option>
    <option value="Horse">Horse</option>
    <option value="Motor">Motor</option>
    <option value="ESports">E-Sports</option>
    <option value="Special">Special</option>
  </select>

  <button class="profile-search-event" type="button" name="button" ui-sref="profile.events({ eventType: usersShow.eventType })">SEARCH</button>
</section>

<!-- loads in events index.html and show.html -->
<div ui-view></div>
