
<footer class="footer">
  <%# insert a route for a logo%>
      <img src="../assets/images/INSERT A LOGO HERE.png" class="circle" width="120" height="40">
      <p>&copy; made with &#9829;  YTho 2017</p>
</footer>
