<nav class="container">
  <ul>
    <li class="menu"&#9776>;
    <div class="dropdown">
      <% if(locals.isAuthenticated) { %>
        //check all these routes are correct
        <li><a href="/logout">Logout</a></li>
        <li><a href="#">Add Accumulator</a></li>
        <li><a href="/">Home</a></li>
      <% } else { %>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% } %>
  </ul>
</nav>
