<nav>
  <ul>
    <li><a href="#">Username:{{ profile.user.username }}</a></li>
    <li ng-click="profile.logout()"><a href="#">Logout</a></li>
  </ul>
</nav>

<section class="wrapper">

  <button class="profile-choose-event" type="button" name="button">Choose New Event</button>

<section ng-controller="PartialsCtrl as partial">

</section>

  <section class="profile-accy-nav">
    <p ng-repeat="accy in profile.user.accumulators"><a ng-click="profile.dislayTrackedEvents(accy.id)">Accumulator {{ $index + 1 }} and its Id: {{ accy.id }} - <em>click me</em></a></p>
  </section>

  <section class="profile-selected-accy">
    <p ng-repeat="events in profile.events">Event {{ $index + 1 }} {{ events.eventName }}. events Id: {{ events.eventId }}. id: {{ events.id }}</p>
  </section>

</section>
