<nav>
  <ul>
    <li><a href="#">Username:{{ profile.user.username }}</a></li>
    <li ng-click="profile.logout()"><a href="#">Logout</a></li>
  </ul>
</nav>

<section class="wrapper">
  
  <button class="profile-choose-event" type="button" name="button">Choose New Event</button>

  <section class="profile-select-accy">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    <p ng-repeat="accy in profile.user.accumulators"><a ng-click="profile.getEvent(accy.id)">Accumulator {{ $index + 1 }} and its Id: {{ accy.id }} - <em>click me</em></a></p>
  </section>


  <section class="profile-view-data">
    <p ng-repeat="events in profile.events">Event {{ $index + 1 }} {{ events.eventName }}. events Id: {{ events.eventId }}. id: {{ events.id }}</p>
  </section>

</section>
