<!DOCTYPE html>
<html ng-app="YTHO">
<head>
  <base href="/">
  <title>Project 3</title>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <header>
    <nav>
      <ul>
        <li ng-if="main.isAuthenticated()" ui-sref="profile"><a href="#">Profile</a></li>
        <li ng-if="main.isAuthenticated()" ng-click="main.logout()"><a href="#">Logout</a></li>

        <li ng-if="!main.isAuthenticated()" ui-sref="login"><a href="#">Login</a></li>
        <li ng-if="!main.isAuthenticated()" ui-sref="register"><a href="#">Register</a></li>
      </ul>
    </nav>
  </header>
  <h1>Bet Bucket?</h1>
  <div class="message" ng-if="main.message">{{ main.message }}</div>

  <main ui-view></main>

  <footer>
  </footer>
</body>
</html>
