$black: #0e1922;
$grey: #1d323f;
$slategray: #263f4f;
$green: #289c96;
$pink: #d72b71;
$lightgreen: #32d1c8;
$lightgrey: #cccccc;
$lightergrey: #ededed;

// Sticky footer styles -------------------------

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -60px;
}

.push {
  height: 60px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

// General styles -------------------------

body {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

nav {
  h1 {
    color: ghostwhite;
  }
    position: absolute;
  height: 60px;
  background: $slategray;
  top: 0;
  width: 100%;
  ul{
    width: 80%;
    margin: 0 auto;
    li{
      font-size: 14px;
      background: none;
      display: inline-block;
      margin-right: 30px;
      opacity: 1;
      cursor: pointer;
      a {
        color: white;
        font-weight: 600;
        display:block;
        text-transform: uppercase;
        line-height: 60px;
        padding: 0 10px;
        &:hover {
          background: $grey;
          // opacity: 0.7;
        }
      }
    }
  }
}


section.wrapper {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}

form {
  label {
    line-height: 30px;
    text-align: right;
  }
  input {
    // padding-left: 10px;
    outline: none;
    background: ghostwhite;
    height: 30px;
    &:focus {
      opacity: 0.5;
    }
  }
}

button {
  cursor: pointer;
  padding: 0 2%;
  line-height: 30px;
  outline: none;
  &:focus {
    opacity: 0.7;
  }
}

main {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

h1.user-profile {
  text-transform: none;
  margin-top: 40px;
  margin-bottom: 50px;
  color: $green;
}

// Accumlator nav bar side-section

section.profile-accy-nav {
  //edits buttons!!! --
  button.editForm {
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: $lightgrey;
    &:hover {
      background: $lightergrey;
    }
  }
  form.newForm, form.editForm{
    button {
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background: $lightgrey;
      &:hover {
        background: $lightergrey;
      }
    }
  }

  width: 25%;
  display: block;
  float: right;
  margin-left: 10px;
  ul {
    margin: 40px 0;
    li {
      background: $slategray;
      margin: 0px 0;
      cursor: pointer;
      overflow: hidden;
      line-height: 25px;
      color: white;
      display: block;
      div.edit {
        display: none;
      }
      &.selected {
        background-color: $green;
        div.edit {
          display: block;
          button {
            display: inline-block;
            float: right;
            height: 30px;
            width: 100%;
          }
        }
      }
      a {
        font-weight: 600;
        display: inline-block;
        color: inherit;
        width: 100%;
        text-align: center;
        &:hover {
          background: $green;
        }
        span {
          font-weight: 400;
          font-size: 11px;
            text-transform: uppercase;
        }

      }
    }
    // div.edit {
    //   width: 20%;
    //   display: inline-block;
    // }
    div {
      form {
        button {
            width: 100%;
        }
      }
    }


  }
  form {
    input {
      padding-left: 10px;
      width: 100%;
      &:focus {
        background: gold;
      }
    }
    button {
      width: 100%;
    }
  }
}

// graph styles -------------------------------------

section.profile-graphs {
  width: 74%;
  border: 2px solid black;
  display: block;
  height: 400px;
  margin-right: 1%;
  div.user-animation {
    margin-top: 0px;
    background: white;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 450px;
    overflow: hidden;
    #line {
      height: 400px;
      width: 900px;
      overflow: hidden;
    }
  }
}

div.message {
  font-size: 20px;
  margin-top: 40px;
  padding-left: 20px;
}
//  input select sections ------------------------- ---------------

section.profile-input-selectboxes {
  width: 100%;
  height: 150px;
  margin: 30px 0;
  text-align: center;
  background: $grey;
  select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    outline: none;
    border-radius: none;
    margin: 30px 0;
    height: 30px;
    width: 50%;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    // text-indent: 34%;
    text-align-last: center;
    cursor: pointer;
    option {
    }
  }
  button {
  }
}

section.profile-select-event {
  background: grey;
}

button.profile-choose-event, button.profile-search-event {
  width: 50%;
  height : 30px;
  margin: 0 auto;
  color: white;
  background: dodgerblue;
  border: none;
  font-size: 14px;
  text-align: center;
  display: block;
  margin-bottom: 30px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

button.profile-search-event {
  background: tomato;
}

// --------- tracked ul li styles --------------------

h3.profile-h3 {
  margin-top: 50px;
  margin-bottom: 30px;
  span {
    color: $green;
  }
}

ul.profile-tracked-accumulator {
  li {
    display: block;
    font-size: 0;
    p{
      background: $grey;
      font-size: 14px;
      display: inline-block;
      line-height: 40px;
      color: white;
      font-weight:600;
    }
    p:first-child{
      width: 70%;
      padding-left: 2%;
    }
    p:nth-child(2) {
      width: 20%;
      text-align: left;
      span {
        padding-left: 10px;
        color: $pink;
      }
    }
    button {
      font-size: 14px;
      display: inline-block;
      line-height: 40px;
      width: 10%;
      background: $green;
      color: white;
      &:hover {
        background: $slategray;
        opacity: 0.4;
      }
    }
  }
}



//-------------- login page styles ---------------------------------------------------
//-------------- login page styles ---------------------------------------------------
//-------------- login page styles ---------------------------------------------------
//-------------- login page styles ---------------------------------------------------
//-------------- login page styles ---------------------------------------------------

div.login-animation {
  margin-top: 0px;
  background: grey;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 350px;
  overflow: hidden;
  #line {
    height: 200px;
    width: 900px;
    background: grey;
    overflow: hidden;
  }
}

h1.login {
  margin-top: 100px;
  color: white;
  font-size: 26px;
}

form.login {
  // position: relative;
  margin: 20px auto;
  // height: 500px;
  width: 400px;
  background: white;
  label {
    font-size: 14px;
    display: inline-block;
    // float: left;
    width: 28%;
    padding-right: 2%;
  }
  input {
    font-size: 14px;
    display: inline-block;
    // float: right;
    width: 100%;
    text-align: center;

    // border: 2px solid grey;
  }
  div {
    font-size: 12px;
    text-align: center;
    display: block;
    float: left;
    width: 100%;
    line-height: 30px;
    background: white;
    color: tomato;
  }
  // margin-top: 150px;
  // height: 400px;
  // border: 1px black solid;
  button {
    width: 100%;
  }
}

//SW 3 divs styling on login page

div.logoInLogin {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  p {
    color: white;
    font-weight: 600;
  }
  img {
    margin-top: 40px;
    height: 50px;
    width: auto;
    margin-bottom: 20px;
  }
}

div.loginTrio {
  margin-top: 20px;
  div {
    margin: 3.5%;
    padding-top: 0px;
    text-align: center;
    display: inline-block;
    float: left;
    width: 26%;
    padding-bottom: 40px;
    h2 {
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase;
    }
    h3 {
      text-align: center;
      font-size: 16px;
      margin-top: 10px;
    }
    img {
      width: 100%;
      margin-top: 20px;
      // max-height: 200px;
      border: 2px solid;
      border-radius: 2px;
    }
  }
}
// END of styling for loginPage

//SW  - register styles
div.register {
  margin-top: 100px;

}

// li {
//   cursor: pointer;
//   color: white;
  // &:hover {
  //   background: dodgerblue;
  //   color:black;
  // }
// }
// li {
//   cursor: pointer;
//   background: grey;
//   color: white;
//   &:hover {
//     background: dodgerblue;
//     color:black;
//   }
// }

li.selected {
  background: tomato;
}


ul.showEvents {
  width: 100%;
  li {
    ul {
      li {
          height: 30px;
      }
    }
  }
}

ul.showOdds {
  width: 75%;
  display:  block;
  li {
    position: relative;
    // height: 40px;
    display:  block;
    width: 100%;
    background: grey;
    line-height: 40px;
    &:hover {
    background: $grey;
    color:white;
    }
    p{
      display: inline-block;
    }
    button {
      margin-top: 0;
      height: 40px;
      display: inline-block;
      width: 30%;
      position: absolute;
      right: 0;
    }
  }
}

footer {
  background-color: $slategray;
  padding: 10px 0;
  margin-top: 10px;
  height: 50px;
  text-align: center;
  color: white;
  bottom: 0;
  width: 100%;
}
